{% extends "emails/base.html.twig" %}

{% block content %}
    <h1 id="hello">Hello {{ user.firstName }} {{ user.lastName }}!</h1>
    <p>
        We get request to reset password to your Splitey account.
        If you want to do it, click <a href="{{ url }}">link</a>.
        Otherwise, you ignore this email.
    </p>
{% endblock %}
